.navbar{
    background-color: #F5E7DE!important;
}
.navbar-brand.p-2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}
.selectCategory, .searchInput{
    width: 300px;
}
.searchInput{
    margin-left: 5px;
    margin-right:10px;
};